@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-neutral-secondary-soft: oklch(.96 0 0);
  --color-border-default: oklch(.9 0 0);

  --color-fg-brand: oklch(52.711% 0.23155 261.329);
  --color-fg-heading: oklch(.2 0 0);
  --color-fg-disabled: oklch(.7 0 0);
}

